/*
FONTS
font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif;

COLORS:
Main: #54007E
Link: #FF6E17


*/

/* Browser style reset so they all play nice */ html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, time, mark, audio, video { 
    min-width: 0;
    /* width: 100%; */
    font-size: 100%; 
	margin: 0; 
	padding: 0; 
	outline: 0 none; 
    vertical-align: baseline; 
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #54007E;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3{
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    font-weight: normal;
}

.section-titles{
    width: 100%;
    max-width: 500px;
    height: 67px;
    line-height: 67px;
    margin-bottom: 3%;
    padding-left: 2%;
    background: #54007E;
    font-size: 35px;
    text-transform: uppercase;  
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
    clear: both;
}

header{
    background-image: url(./images/lightdots2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#header-overlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 20vh;
    background: rgba(84,0,126,0.5);
    overflow: hidden;
    z-index: 2;
}

nav{
    margin: 0 0 5% 0;
    margin-bottom: 5%;
}

ul li{
    list-style-type: none;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 2vw;
}

nav li{
    padding-left: 3vw;
}

nav a {
    font-family: 'Anton', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    color: #FF6E17;
    text-transform: uppercase;
    
}

a{
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    color: #FF6E17;
}

.active{
    color: #26BEB5;
}

#logo{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#logo img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.80));
}

#banner-link{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Anton;
    font-weight: normal;
    font-size: 45px;
    line-height: 66px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}

#socialmedia-links{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

#socialmedia-links li{
    padding: 0 12px;
}

#socialmedia-links img{
    width: 35px;
    height: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
}

#vector{
    width: 100%;
    height: 200px;
    background: #211824;
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0%, calc(100% - 50%) calc(100% - 60%));
    margin: -120px 0 -50px 0;
}

main{
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    background: #211824; 
}

#episode-section{
    margin: 0 5%;
}

.break{
    flex-basis: 100%;
    height: 0px;
}

#featured{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

#featured h2{
    height: 60px;
    line-height: 65px;
    padding-left: 6%;
    margin-bottom: -1px;
    color: #ffffff;
    background: #26BEB5;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#featured h3{
    margin-top: 1%;
    font-size: 45px;
    text-transform: uppercase;
}

.featured-image{
    width: 100%;
    max-width: 1200px;
    height: 450px;
    border: 8px solid #26BEB5;
    box-sizing: border-box;
    /* background-position: center;
    background-size: cover; */

}

.featured-image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#episode-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 50px;
    max-width: 1200px;
    margin: 5% auto 0 auto;
    justify-content: center;

}

.episode h2{
    height: 30px;
    line-height: 35px;
    padding-left: 6%;
    margin-bottom: -1px;
    color: #ffffff;
    background: #CD3EF1;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.episode-image{
    width: 100%;
    border: 8px solid #CD3EF1;
    box-sizing: border-box;
}

.episode h3{
    margin-top: 1%;
    font-size: 25px;
    text-transform: uppercase;
}

#watch-button{
    width: 100%;
    max-width: 280px;
    height: 80px;
    line-height: 80px;
    margin: 2% auto 0 auto;
    background: #FF6E17;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
}

#watch-button a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
}


/* ABOUT PAGE */

#about-section{
    max-width: 1580px;
    margin: 0 auto 2% auto;
}

#about-image{
    float: left;
    width: 100%;
    max-width: 545px;
    margin: 0 5% 2% 0;
    border: 8px solid #CD3EF1;
    box-sizing: border-box;
}

#about-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-section p{
    text-align: left;
    margin-bottom: 1.5%;
    color: #ffffff;
    font-size: 18px;
}

#about-section a{
    font-weight: 600;
}


.host{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    min-height: 512px;
    margin: 0 auto 3% auto;
    background: #26BEB5;
    color: #ffffff;
}

.host-info{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    margin: 0 auto;
    padding: 0 2%;
}

.host-title{
    margin: 3% 0;
    font-size: 50px;
    text-align: center;
}

.host-bio{
    width: 100%;
    max-width: 460px;
    flex-grow: 1;
}

.host-bio p{
    text-align: left;
    margin-bottom: 2%;
}

.host-image{
    width: 100%;
    max-width: 630px;
    padding: 1%;
}

.host-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-icons{
    width: 100%;
    max-width: 398px;
    margin: 11% auto;
    text-align: center;
    align-self: flex-end;
}

.social-icons li{
    display: inline-block;
    width: 100%;
    max-width: 50px;
    margin: 0 1.5%;
    list-style-type: none;
}

.social-icons li img{
    width: 100%;
    height: 100%;
}


/* FOOTER */

footer{
    width: 100%;
    height: 130px;
    text-align: center;
    line-height: 130px;
}

footer p{
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}


/* MOBILE STYLES */

@media screen and (max-width: 1024px){
    .episode h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 962px){

    #episode-list{
      grid-template-columns: repeat(2, 1fr);
    }

    .episode h3{
        font-size: 25px;
    }
}

@media screen and (max-width: 850px){

    #logo{
        max-width: 650px;
    }

    .section-titles{
        margin-bottom: 6%;
    }

    #about-image{
        float: none;
        margin: 0 auto;
    }

    #about-text{
        width: 100%;
        max-width: 960px;
        margin: 5% auto;
    }

    #about-text p{
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 768px){

    .host {
        flex-direction: column;
        max-width: 650px;
        margin: 0 auto 6% auto;
    }

    .host-image{
        max-width: inherit;
    }

    #host-section, #about-section{
        padding: 0 4%;
    }

}

@media screen and (max-width: 695px){

    .featured-image{
        height: initial;
    }

    nav ul{
        justify-content: space-evenly;
    }

    nav{
        margin: 5% auto;
    }

    #episode-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .episode h3{
        font-size: 35px;
    }
}

@media screen and (max-width: 480px){

    #logo{
        max-width: 400px;
    }


    #featured {
        margin: 11% auto;
    }

    #featured h3{
        font-size: 30px;
    }

    .section-titles {
        padding-left: 4%;
        font-size: 25px;
    }

    #banner-link{
        font-size: 30px;
        line-height: initial;
        margin: 0 0 5% 0;
    }

    .episode h3{
        font-size: 30px;
    }

    .host-title{
        font-size: 35px;
    }

    .host-bio{
        max-width: 380px;
    }

    .social-icons li {
        max-width: 40px;
        margin: 0 2.5%;
    }

    footer p{
        font-size: 14px;
    }
}