
/* 

====STYLE REF====

COLORS:

Teal: #00CCA7
Blue: #00969E
Darker Blue: #256175
Purple: #635691

FONTS:

font-family: Anton; (Logo, section titles, nav links)
font-family: Roboto; (body text)
font-family: Russo One; (button text)

*/


:root {
    --teal: #00CCA7;
    --blue: #00969E;
    --dark-blue: #256175;
    --purple: #635691;
    --header-links: Anton;
    --body-text: Roboto;
    --button-text: Russo One;
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    font-family: var(--body-text);
    scroll-behavior: smooth;
    scroll-padding-top: 125px;
    position: relative;
}

section{
    max-width: 1920px;
    margin: 10% 0;
    padding: 0 4%;
    position: relative;
}

.mobilebutton{
  display: none;
}

#mobile-nav{
  display: none;
}

header{
    background: url(assets/hero-image.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0 60px;
    background: var(--teal);
    box-shadow: 0px 2px 0px #000000;
    position: fixed;
    z-index: 999999;
}

#logo{
    flex-grow: 1;
    font-style: normal;
    font-family: var(--header-links);
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 0.08em;
    line-height: 73px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.lower-case{
    font-size: 30px;
}

#main-menu{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

#main-menu li{
    display: inline-block;
    margin-left: 5%;
    font-family: var(--header-links);
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;
    list-style-type: none;
 }

 #main-menu li a{
    color: #ffffff;
    text-decoration: none;
 }


 #header-title{
     position: absolute;
     right: 40px;
     bottom: 375px;
 }


 #sub-title-section{
     display: flex;
     flex-direction: column;
     justify-content: flex-end; /* vertical alignment */
     align-items: center; /* horizontal alignment */
     width: 100%;
     height: 100vh;
     padding-bottom: 150px;
 }

 #sub-title{
     text-transform: uppercase;
     font-family: var(--header-links);
     font-size: 50px;
     font-weight: normal;
     letter-spacing: 0.02em;
     color: #ffffff;
     text-shadow: #000000 2px 5px;

 }

 #down-arrow{
    position: relative;
    top: 6%;
 }

 #intro-section, #services-section, #portfolio-section, #contact-section{
  position: relative;
  max-width: 1920px;
  padding: 0 4%;
}

.section-title{
  width: 100%;
  max-width: 405px;
}

.section-title img{
  display: block;
  width: 100%;
  height: 100%;
}

#top-button{
  position: absolute;
  right: 4%;
  bottom: 0;
}

@media screen and (max-width: 1024px){
    #header-title{
      max-width: 425px;
    }

    #header-title img{
      width: 100%;
      height: 100%;
    }

    h2 {
      max-width: 660px;
      font-size: 30px;
      top: -40px;
    }
}

@media screen and (max-width: 782px){


#main-menu{
  display: none;
}

nav{
  z-index: 2;
}

.mobile-button{
  display: initial;
  position: absolute;
  top: 25%;
  right: 5%;
  z-index: 3;
  color: #ffffff;
  cursor: pointer;
}

.mobile-button::before{
  font-family: FontAwesome;
  font-size: 30px;
  content: "\f0c9";
}

.mobile-button.toggle-button{
  position: absolute;
  top: 25%;
  right: 6%;
  z-index: 4;
}

.mobile-button.toggle-button::before{
  font-family: FontAwesome;
  font-size: 30px;
  content: "\f00d";
  color: #ffffff;
  cursor: pointer;
}

#mobile-nav .mobile-button:hover::before{
  color: #000000;
}

#mobile-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
  background: var(--teal);
}

#mobile-nav ul{
  width: 100%;
  padding: 15% 0 5% 0;
}

#mobile-nav li{
  margin-bottom: 30px;
}

#mobile-nav a{
  color: #ffffff;
  font-family: var(--header-links);
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

#mobile-nav a:hover{
  color: var(--dark-blue);
}

#mobile-nav.active{
  transform: scaleX(1);
}

}

 /* ===== Intro section ==== */

  
  #intro .section-title{
    width: 100%;
    padding: 1% 0;
    margin: 0;
    position: absolute;
    top: -90px;
    
  }

  #intro .section-title img{
      width: 100%;
      height: 100%;
  }
  
  #intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  
  #text-box-edge{
    display: block;
    width: 48px;
    min-height: 450px;
    background-color: #00969E;
  }
  
  
  #image{
    width: 640px;
    height: 510px;
  }
  
  #image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  
  #text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 770px;
    min-height: 450px;
    padding: 3.5%;
    background-color: #00969E;
    color: #ffffff;
    font-size: 20px;
    position: relative;
  }
  
  #text-box p{
    width: 100%;
    margin-bottom: 1em;
  }
  
    
  @media screen and (max-width: 980px){
    
    #text-box p {
      font-size: 18px;
    }
  }
  
  
  @media screen and (max-width: 782px){
    
    #intro {
      display: block;
    }

    #text-box{
      justify-content: center;
    }
    
    #text-box-edge{
      display: none;
    }
    
    img{
      display: block;
    }
    
    #image{
    width: 100%;
    height: 100%;
    }
  }

  @media screen and (max-width: 400px){
    #intro .section-title {
      width: 80%;
      top: -55px;
  }

    #text-box {
      min-height: 530px;

    }
  }

  /* ==== Services section ==== */

  #services-section .section-title{
    position: relative;
    top: 80px;
  }

  
  #services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 335px));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto 5% auto;
  }
  
  .card{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    text-align: center;
    width: 100%;
    max-width: 335px;
    min-height: 411px;
    padding-top: 10%;
    border: 1px solid #00CCA7;
  }
  
  .icon{
    display: block;
    padding-bottom: 3%;
    color: #00CCA7;
    font-size: 3.5em;
  }
  
  
  .title{
    color: #00CCA7;
    text-transform: uppercase;
    font-family: Russo One;
    font-size: 20px;
  }
  
  .blurb{
    max-width: 275px;
    align-self: center;
    flex-grow: 1;
    padding-top: 10%;
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
  }

  .button{
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    background: var(--teal);
    border-bottom: 5px solid var(--blue);
  }

  .button a, input[type=submit]{
    display: block;
    width: 100%;
    height: 100%;
    padding: 4%;
    color: #ffffff;
    font-family: var(--button-text);
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  
  
  @media screen and (max-width: 1538px){
    #services-container{
      max-width: 690px;
    }
  }
  
  @media screen and (max-width: 782px){
    #services-container{
      max-width: 335px;
    }
  }

  @media screen and (max-width: 400px){
    #services-section .section-title {
      width: 80%;
      top: 45px;
    }
  }


 /* ==== Portfolio Section ==== */

#portfolio-section .section-title{
  max-width: 450px;
  margin: 0 auto;
  position: relative;
  top: 25px;
  z-index: 1;
}

/* #portfolio-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(444px, 535px));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
  max-width: 1693px;
  margin: 0 auto 5% auto;
} */

#portfolio-container{
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  max-width: 1400px;
  margin: 0 auto 5% auto;
}

.project{
  /* max-width: 535px; */
  flex-basis: 0; /* flex-basis: 0; and flex-grow: 1; for equal element width */
  flex-grow: 1;
  max-width: 500px;
  max-height: 311px;
  position: relative;
}

.project-image{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  object-position: top;
  box-shadow: 12px 12px 0px #256175;
}

#portfolio-section .button{
  max-width: 235px;

}

@media screen and (max-width: 1400px){

  #portfolio-container{
    flex-wrap: wrap;
  }

  .project{
    flex-basis: auto;
    flex-grow: initial;
  }
}

@media screen and (max-width: 400px){
  #portfolio-section .section-title {
    max-width: 90%;

  }
}

/* ==== Contact Section ==== */

#contact-section{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 7%;
}

#contact-section .section-title{
  max-width: 265px;
  position: relative;
  left: 5%;
  top: -60px;
  z-index: 1;
}

form{
  width: 100%;
  max-width: 663px;
  margin: 0 auto;
  max-height: 570px;
  padding: 6%;
  position: relative;
  text-align: center;
  background: var(--purple);

}

.input-field{
  width: 100%;
  max-width: 454px;
  min-height: 40px;
  margin-bottom: 40px;
  padding-left: 3%;
  font-family: var(--body-text);
  font-size: 20px;
}

.input-field::placeholder{
  color: #000000;
  font-family: var(--header-links);
  font-size: 20px;
  text-transform: uppercase;
}

#message-box{
  min-height: 160px;
  max-height: 160px;
  resize: none;
}

#submit-area{
  /* max-width: 455px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 509px;
}

#form-cta{
  display: block;
  color: #ffffff;
  font-family: var(--header-links);
  font-size: 30px;
  text-transform: uppercase;
}

#form-cta img{
  display: inline-block;
  margin-left: 5px;
}

input[type=submit]{
  max-width: 136px;
  max-height: 64px;
  margin: 0;
  font-size: 20px;
  line-height: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px){

  #contact-section{
    display: block;
    position: initial;
  }

  #contact-section .section-title{
    margin: 0 auto;
    position: relative;
    left: initial;
    top: 18px;
  }

  form{
    max-width: 500px;
  }

  #form-cta img{
    display: block;
  }
}



@media screen and (max-width: 400px){

  #contact-section .section-title {
    max-width: 50%;

  }
  
  #form-cta {
    font-size: 20px;

  }

  #form-cta img {
    width: 20%;
  }
}

