* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Heebo", san-serif;

}

.landing {
    min-height: 100vh;
    background: url('./hero.jpg');
    background-size: cover;
    background-position: center;
    padding: 0rem 5rem;
    color: rgb(252, 216, 173);f;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-links{
    display: flex;
    list-style-type: none;
}

.nav-links li{
    padding-left: 5rem;
    font-size: 1rem;
}

.nav-links a{
    text-decoration: none;
    color: rgb(252, 216, 173);;
}

#logo{
    display: flex;
    align-items: center;
}

#logo-text{
    font-family: 'Heebo', sans-serif;
    font-size: 2.5rem;
}

#logo img{
    width: 100%;
    max-width: 50px;
    margin-right: 1rem;
}

.big-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: 'Long Cang', sans-serif;
    font-size: 8rem;
}

.intro{
    background: #0e111a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text{
    color: rgb(252, 216, 173);
    font-family: "Heebo", san-serif;
    font-size: 5rem;
    font-weight: 700;
}

.hide{
    background: #0e111a;
    overflow: hidden;
}

.hide .text{
    display: inline-block;
    transform: translateY(100%);
}

.slider{
    background: rgb(255, 208, 147);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}